# Nothing to see here. Macros only
{% macro rounded(run='tp ~ ~ ~') %}
# north
execute if entity @s[y_rotation=135..224] rotated 180 0 align xyz run {{ run }}
# east
execute if entity @s[y_rotation=225..314] rotated -90 0 align xyz run {{ run }}
# south
execute if entity @s[y_rotation=315..360] rotated 0 0 align xyz run {{ run }}
execute if entity @s[y_rotation=0..44] rotated 0 0 align xyz run {{ run }}
# West
execute if entity @s[y_rotation=45..134] rotated 90 0 align xyz run {{ run }}
{% endmacro %}
