{{ cylinder(25, top=25, bottom=25, walls='netherrack') | join('\n') }}
{{ cylinder(25, top=23, bottom=23, walls='netherrack') | join('\n') }}
{{ cylinder(23, top=21, bottom=21, walls='netherrack') | join('\n') }}
{{ cylinder(21, top=19, bottom=19, walls='netherrack') | join('\n') }}
{{ cylinder(16, top=17, bottom=17, walls='netherrack') | join('\n') }}
{{ cylinder(10, top=15, bottom=15, walls='netherrack') | join('\n') }}
{{ cylinder( 6, top=15, bottom=15, walls='netherrack') | join('\n') }}
{{     disk( 3, bottom=15, floor='netherrack') | join('\n') }}

{{ cylinder(25, top=26, bottom=26, walls='fire') | join('\n') }}
{{ cylinder(25, top=24, bottom=24, walls='fire') | join('\n') }}
{{ cylinder(23, top=22, bottom=22, walls='fire') | join('\n') }}
{{ cylinder(21, top=20, bottom=20, walls='fire') | join('\n') }}
{{ cylinder(16, top=18, bottom=18, walls='fire') | join('\n') }}
{{ cylinder(10, top=16, bottom=16, walls='fire') | join('\n') }}
{{ cylinder( 6, top=16, bottom=16, walls='fire') | join('\n') }}
{{     disk( 3, bottom=16, floor='fire') | join('\n') }}
