# remove insides
{% for i in range(-2,50) %}
{{ disk(34, bottom=i, floor='air') | join('\n') }}
{% endfor %}

# subfloor
{{ disk(33, bottom=-1, floor='iron_block') | join('\n') }}

# outer wall
{{ disk(34, bottom=24, floor='black_concrete', ring=3) | join('\n') }}
{#disk(31, bottom=24, floor='air') | join('\n')#}
{{ cylinder(33, top=23, bottom=23, walls='black_concrete') | join('\n') }}
{{ cylinder(33, top=22, bottom=22, walls='glowstone') | join('\n') }}
{{ cylinder(33, top=21, bottom=19, walls='red_concrete') | join('\n') }}
{{ cylinder(33, top=18, bottom=16, walls='orange_concrete') | join('\n') }}
{{ cylinder(33, top=15, bottom=13, walls='yellow_concrete') | join('\n') }}
{{ cylinder(33, top=12, bottom=12, walls='glowstone') | join('\n') }}
{{ cylinder(33, top=11, bottom=0, walls='black_concrete') | join('\n') }}

# inner glass
{{ cylinder(24, top=6, bottom=0, walls='black_stained_glass') | join('\n') }}

# top walkway
{{ disk(25, bottom=7, floor='white_concrete', ring=4) | join('\n') }}


# top walkway ladders
{{ disk(25, bottom=7, floor='white_concrete', ring=4) | join('\n') }}

# lava ring
{{ disk(31, bottom=1, floor='lava') | join('\n') }}
{{ disk(25, bottom=1, floor='white_concrete') | join('\n') }}
{{ disk(25, bottom=0, floor='white_concrete') | join('\n') }}

# inner floor
{{ disk(23, bottom=1, floor='air') | join('\n') }}
{{ disk(23, bottom=0, floor='light_gray_wool') | join('\n') }}

{{ cylinder(13, top=0, bottom=0, walls='glowstone') | join('\n') }}

# fire bowl ceiling
execute positioned ^ ^5 ^ run function uberop:make/fire-bowl-24

# items
execute positioned ^20 ^ ^ rotated 0 0 run function uberop:make/chest-stand
execute positioned ^-20 ^ ^ run function uberop:make/chest-stand
# execute positioned ^ ^ ^20 run function uberop:make/chest-stand
# execute positioned ^ ^ ^-20 run function uberop:make/chest-stand

execute positioned ^-10 ^ ^10 rotated 0 -90 run function uberop:pixels/charmander
execute positioned ^-10 ^8 ^-30 rotated 0 0 run function uberop:pixels/charmander
# execute positioned ^ ^ ^ rotated 0 0 run function uberop:pixels/luffy

# maze!!!
execute positioned ^-22 ^-4 ^-22 rotated 0 0 run function uberop:mazes/09

execute positioned ^ ^ ^-23 rotated 0 0 run function uberop:make/bunker-24
execute positioned ^ ^ ^23 rotated -180 0 run function uberop:make/bunker-24

# holes to get down to maze
fill ^-3 ^ ^18 ^3 ^-2 ^15 white_concrete hollow
fill ^-3 ^ ^18 ^3 ^ ^15 air
fill ^-3 ^-2 ^18 ^3 ^-2 ^15 air

fill ^-3 ^ ^-18 ^3 ^-2 ^-15 white_concrete hollow
fill ^-3 ^ ^-18 ^3 ^ ^-15 air
fill ^-3 ^-2 ^-18 ^3 ^-2 ^-15 air
