# north
execute at @s[y_rotation=135..224] rotated 180 0 run setblock ^ ^ ^2 observer[facing=south]
# east
execute at @s[y_rotation=225..314] rotated -90 0 run setblock ^ ^ ^2 observer[facing=west]
# south
execute at @s[y_rotation=315..360] rotated 0 0 run setblock ^ ^ ^2 observer[facing=north]
execute at @s[y_rotation=0..44] rotated 0 0 run setblock ^ ^ ^2 observer[facing=north]
# West
execute at @s[y_rotation=45..134] rotated 90 0 run setblock ^ ^ ^2 observer[facing=east]
