{%- macro spawner(position, entity) -%}
execute positioned ^ ^ ^ rotated 180 0 run setblock {{position}} spawner{SpawnData:{id:{{entity}},PersistenceRequired:1,ActiveEffects:[{Id:1,Amplifier:0,Duration:999999}]},SpawnRange:50,SpawnCount:10,MaxNearbyEntities:99999,Delay:10,MinSpawnDelay:10,MaxSpawnDelay:10,RequiredPlayerRange:50}
{%- endmacro -%}
execute positioned ^ ^-5 ^ rotated 180 0 run function uberop:maze-pvp/red
execute positioned ^ ^-11 ^ rotated 180 0 run function uberop:maze-pvp/orange
execute positioned ^ ^-15 ^ rotated 180 0 run fill ^ ^ ^ ^55 ^ ^55 lava replace air
execute positioned ^ ^-17 ^ rotated 180 0 run function uberop:maze-pvp/yellow
execute positioned ^ ^-23 ^ rotated 180 0 run function uberop:maze-pvp/black
execute positioned ^ ^-29 ^ rotated 180 0 run function uberop:maze-pvp/green
execute positioned ^ ^-35 ^ rotated 180 0 run function uberop:maze-pvp/light_blue
execute positioned ^ ^ ^ rotated 180 0 run fill ^ ^-1 ^1 ^2 ^-35 ^3 ladder
execute positioned ^ ^ ^ rotated 180 0 run fill ^ ^-1 ^56 ^2 ^-35 ^58 ladder 
execute positioned ^ ^ ^ rotated 180 0 run fill ^58 ^-1 ^1 ^60 ^-35 ^3 ladder 
execute positioned ^ ^ ^ rotated 180 0 run fill ^58 ^-1 ^56 ^60 ^-35 ^58 ladder 
{{ spawner('^29 ^-5 ^29', 'zombie') }}
{{ spawner('^9 ^-6 ^9', 'blaze') }}
{{ spawner('^19 ^-6 ^19', 'blaze') }}
{{ spawner('^29 ^-6 ^29', 'blaze') }}
{{ spawner('^39 ^-6 ^39', 'blaze') }}
{{ spawner('^29 ^-11 ^29',  'blaze') }}
{{ spawner('^39 ^-16 ^39', 'blaze') }}
{{ spawner('^19 ^-21 ^19', 'blaze') }}
{{ spawner('^29 ^-26 ^29', 'blaze') }}
{{ spawner('^39 ^-31 ^39', 'blaze') }}
